@model Contacto
<form asp-asp-controller="Contacto" asp-action="Create">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>


</form>
