@model Calculadora
<form asp-controller="Calculadora" asp-action="Execute">
    <label asp-for="Operando1" class="control-label"></label>
    <input asp-for="Operando1" class="form-control" />

    <label asp-for="Operando2" class="control-label"></label>
    <input asp-for="Operando2" class="form-control" />

    <div class="form-group">
        <label asp-for="Operando" class="control-label"></label>
        <select name="Operando">
            <option value="+">Suma</option>
            <option value="/">División</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>
<h1>@ViewData["Message"]</h1>
